Integra.Web/Web References/integraEssencial/IntegraEssencial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddNewUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoClinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeClinica" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewUserResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserNotify">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="senha" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="codigoClinica" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeClinica" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewUserNotifyResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddNewUserNotifyResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="email" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddNewUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUser" />
  </wsdl:message>
  <wsdl:message name="AddNewUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewUserNotifySoapIn">
    <wsdl:part name="parameters" element="tns:AddNewUserNotify" />
  </wsdl:message>
  <wsdl:message name="AddNewUserNotifySoapOut">
    <wsdl:part name="parameters" element="tns:AddNewUserNotifyResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:portType name="IntegraEssencialSoap">
    <wsdl:operation name="AddNewUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adicionar novo usuário ao sistema.</wsdl:documentation>
      <wsdl:input message="tns:AddNewUserSoapIn" />
      <wsdl:output message="tns:AddNewUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewUserNotify">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Notifica o usuário de reativação no sistema.</wsdl:documentation>
      <wsdl:input message="tns:AddNewUserNotifySoapIn" />
      <wsdl:output message="tns:AddNewUserNotifySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Verificar usuário existente no sistema</wsdl:documentation>
      <wsdl:input message="tns:VerifyUserSoapIn" />
      <wsdl:output message="tns:VerifyUserSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="IntegraEssencialSoap" type="tns:IntegraEssencialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUserNotify">
      <soap:operation soapAction="http://tempuri.org/AddNewUserNotify" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="http://tempuri.org/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="IntegraEssencialSoap12" type="tns:IntegraEssencialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddNewUser">
      <soap12:operation soapAction="http://tempuri.org/AddNewUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewUserNotify">
      <soap12:operation soapAction="http://tempuri.org/AddNewUserNotify" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap12:operation soapAction="http://tempuri.org/VerifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IntegraEssencial">
    <wsdl:port name="IntegraEssencialSoap" binding="tns:IntegraEssencialSoap">
      <soap:address location="http://www.integrawebservice.com.br/Site_EssencialWS/IntegraEssencial.asmx" />
    </wsdl:port>
    <wsdl:port name="IntegraEssencialSoap12" binding="tns:IntegraEssencialSoap12">
      <soap12:address location="http://www.integrawebservice.com.br/Site_EssencialWS/IntegraEssencial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>